* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url('img/wallpaper01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #777;
    
}

a:link {
    color: darkcyan;
    font-family: sans-serif;
    text-decoration:none;
}

a:visited {
    color:purple;
}

a:hover {
    text-decoration: underline
}

.login-form {
    width:400px;
    background-color: #fff;
    padding:20px;
    text-transform: none;
    border-radius:10px;
}

.title {
    margin-bottom: 20px;
}

.input-group {
    margin: 20px 0;
}

.input-group label {
    display:inline-block;
    margin-bottom:10px;
}

.input-group input {
    display:block;
    width:100%;
    padding:10px;
}

.input-group p {
    font-size: 15px;
    color: red;
    visibility: hidden;
}

#submit {
    width:50%;
    padding:10px;
    font-size:20px;
    background-color: greenyellow;
    border-radius:10px;
    
}

#submit:hover {
    background: rgba(0,0,0,0);
    color: greenyellow;
    box-shadow: inset 0 0 0 3px greenyellow;
}
